.todo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  .card{
    background: white;
    width: 400px;
    margin-top: 50px;
    .card-header{
      background: #2694d1;
      padding: 10px;
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }
}